.gitignore
MiniBank/DB/DB.dbmdl
MiniBank/bin/EntityFramework.dll
MiniBank/bin/Microsoft.Web.Infrastructure.dll
MiniBank/DB/bin/Debug/DB.dacpac
MiniBank/MiniBank/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MiniBank/DB/obj/Debug/DB.dll
MiniBank/MiniBank/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MiniBank/_ReSharper.MiniBank/*
MiniBank/_ReSharper.MiniBank/*.dat

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
MiniBank/_ReSharper*/
MiniBank/_ReSharper.MiniBank/AspFileDataCache.dat
