@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.Hello</h2>
<br />
<br />
<ul>
    @foreach (string name in ViewBag.Users)
    {
        <li>@name</li>
    }
</ul>*@
