<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloService" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:8228/User" binding="netTcpBinding"
        contract="ServiceInterface.IUser" name="User" />
    </client>
    <!--<client>
      <endpoint address="net.tcp://localhost:10002/HelloService/" binding="netTcpBinding"
        contract="HelloService.IHelloService" />
    </client>-->
    
  </system.serviceModel>

  <connectionStrings>
    <add name="MiniBankDBEntities" connectionString="metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSA-158\DEFAULT1;initial catalog=MiniBankDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>